* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}

main {
    width: 100%;
    height: 100%;
}



.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./imgs/landing\ page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background .canvas-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
}

.landing h3 {
    font-size: 1.5rem;
    padding-top: 20vh !important;
    color: rgb(46, 46, 46) !important;
    font-weight: 600 !important;
}

.landing h1 {
    font-size: 4.5rem !important;
    font-weight: 900 !important;
}

.landing-pack {
    height: 100%;
    max-height: 50vh;
}

.landing-pack-img {
    width: 50vw;
}

@media(max-width:1000px) {
    .landing-pack-img {
        width: 90vw;
    }

}

@media(max-width:578px) {
    .landing-pack {
        max-height: 30vh;
    }

    .landing h3 {
        padding-top: 25vh !important;
        font-size: 1.2rem !important;
    }

    .landing h1 {
        font-size: 3.0rem !important;
        font-weight: 900 !important;
    }
}


/*benefits-section*/

.benefit-bg {
    background: url(./imgs/Banana\ Leaf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.benefits-section img {
    width: 90%;
}

.benefits-section .benefit img {
    height: 100px;
    width: auto;
}

.benefits-section h1 {
    color: #FFF;
    opacity: 0.3;
    width: 100%;
    transform: rotate(-90deg);
    position: absolute;
}

.cook-now h1 {
    background: #F6A32C;
}

.red {
    color: #E31E24;
}

.mom-section {
    background-image: url(./imgs/Line\ Drawing.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #FEECD3;
}


.mom-section .mom-img img {
    width: 80%;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: -23%;
}

@media(max-width:768px) {
    .mom-section {
        background-size: auto 42.991%;
        background-position-x: center;
    }

    .mom-section .mom-img {
        display: flex;
        justify-content: center;
    }

    .mom-section .mom-img img {
        margin-top: 0px;
        margin-bottom: -15%;
    }
}




.process-section {
    background-color: #FFF4E5;
}

.process {
    width: 100%;
}

.process img {
    width: 80%;
    height: auto;
}

@media(max-width:768px) {
    .process-content svg {
        height: 80px !important;
    }
}

.product-section {
    background-color: #FFF4E5;
}



.traditional-content {
    background: #FFE1A6;
}

.traditional-content h1 {
    font-weight: 600 !important;
}

.traditional-content span {
    font-size: 16px;
}


.trad-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 79px;
    border: 2px solid #FFF;
    background: url(./imgs/t2.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:768px) {
    .trad-pic {
        width: 25%;
        height: 25%;
    }
}

.trad-pic:nth-child(1) {
    background-image: url(./imgs/t2.jpg);
    margin-bottom: 60px;
    margin-right: -20px;
}

.trad-pic:nth-child(2) {
    background-image: url(./imgs/t1.jpg);
    margin-bottom: 30px;
    margin-right: -20px;
}

.trad-pic:nth-child(3) {
    background-image: url(./imgs/t5.jpg);
    z-index: 2;
}

.trad-pic:nth-child(4) {
    background-image: url(./imgs/t4.jpeg);
    margin-bottom: 30px;
    margin-left: -20px;
    z-index: 1;
}

.trad-pic:nth-child(5) {
    background-image: url(./imgs/t3.jpg);
    margin-bottom: 60px;
    margin-left: -20px;
}


.products {
    border-radius: 10px;
}

.products h4 {
    font-weight: 500 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.shake-rot{
    animation: shake-ro linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
}

@keyframes shake-ro{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


.shake-rot-rev{
    animation: shake-ro-rev linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
}

@keyframes shake-ro-rev{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


.contactForm .form-control {
    border: none;
}

input.form-control{
    height: 50px !important;
}

.form-control {
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 0px 8px 19px -13px rgba(0, 0, 0, 0.09) !important;
    -moz-box-shadow: 0px 8px 19px -13px rgba(0, 0, 0, 0.09) !important;
    box-shadow: 0px 8px 19px -13px rgba(0, 0, 0, 0.09) !important;
}





/*Nav Bar*/

.nav-bar{
    z-index: 999;
    background-color: #E31E24;
}

.logo-nav{
    height: 80px;
    width: auto;
}

.center-nav h5{
    font-size: 18px;
    margin: 0px;
    font-weight: 500 !important;
    color: #fff;
}

/*Footer*/

.footer p,.footer a{
    font-weight: 500 !important;
    color: #000;
    transition: 0.3s;
    text-decoration: none;
}

.footer a:hover{
    color: #E31E24;
    text-decoration: none;
}

.footer {
    background-image: url(./imgs/Line\ Drawing.png);
    background-position-x: center;
    background-position-y: bottom;
    background-size: 1400px auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #FDE0B7;

    background-blend-mode: color-burn, normal;
}

.footer-hoc{
    background-color: #E31E24;
}