.about-landing-bg {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)), url(../imgs/ricepaddy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    padding: 80px;
    max-height: 900px;
}

.landing-card{
    margin-top: 80px;
}


.landing-card h1 {
    color: #fff;
}

@media(max-width:578px) {
    .about-landing-bg {
        height: 70vh;
    }
}