.about-landing-bg {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)), url(../imgs/ricepaddy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    padding: 80px;
    max-height: 900px;
}

.landing-card{
    margin-top: 80px;
}


.landing-card h1 {
    color: #fff;
}

@media(max-width:578px) {
    .about-landing-bg {
        height: 70vh;
    }
}

.about-story .mom-img img {
    width: 80%;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: -23%;
}


.about-story {
    background-color: #F4F4F4;
}

.about-story-content{
    /*background-image: url(../imgs/about-content-bg.png);*/
    background-position-x: left;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #F4F4F4;
}

@media(max-width:768px) {
    .about-story {
        background-size: auto 42.991%;
        background-position-x: center;
    }

    .about-story .mom-img {
        display: flex;
        justify-content: center;
    }

    .about-story .mom-img img {
        margin-top: 0px;
        margin-bottom: -15%;
    }
}

.mission{
    background-color: #fff;
}

.mission-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: auto;
}

.mission-bg-end{
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
}

.mission-flower{
    min-width: 100px !important;
    height: auto;
}

/*authenticity*/

.authenticity{
    backdrop-filter: blur(14.5px);
    background: url(../imgs/grainder.png) no-repeat;
    background-blend-mode:darken;
    background-color: #E31E24;
    background-position: center;
    background-size: cover;
}

/*lets-serve*/

.lets-serve{
    background-color: #FFF4E5;
}

.serve-pic{
    width: auto;
    height: 100%;
    background: url(../imgs/family\ pic.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

@media(max-width:768px){
    .serve-pic{
        width: 100%;
        height: 300px;
    }
}